{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block body %}
    <h1 class="border borer-light text-center fw-bold fz-5 p-4 bg-dark text-light">Create new Events</h1>

    {{ include('events/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_events_index') }}">back to list</a>
{% endblock %}
